In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(0)

df = pd.DataFrame(np.random.randint(0,100,(5,2)), columns=['a','b'])
df

    a   b
0  44  47
1  64  67
2  67   9
3  83  21
4  36  87

In [3]:
weights = np.array([0.02,0.02,0.4,0.4,0.02])
weights = weights/weights.sum()
weights

array([0.02325581, 0.02325581, 0.46511628, 0.46511628, 0.02325581])

In [12]:
df.sample(n=5,weights=weights,replace=True)

    a   b
2  67   9
2  67   9
2  67   9
2  67   9
3  83  21

In [18]:
1/5

0.2

In [20]:
np.exp(0.255) * 0.2

0.258092324174578

In [21]:
np.exp(-0.255) * 0.2

0.1549832995922162